* {
    box-sizing: border-box;
}

body {
    margin : 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header{
    background-color: rgba(34, 49, 52, 0.9);
    height:65px;
    width:100%;
    position: fixed;
    top: 0;
    z-index: 10px;
}

.header-left{
    float: left;
    margin-top: -15px;
    margin-left: -35px;
}

.header-left h1{
    font-size: 35px;
    color: white;
}

.menu-icon{
    display: none;
    color:white;
    float:right;
    font-size: 25px;
    padding: 21px 0;
}

.header-right{
    float: right;
    margin-right: -50px;
}

.header-right ul{
    list-style: none;
}

.header-right li{
    float: left;
    margin-top: -20px;
}

.header-right a{
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    transition: all 0.5s;
}

.header-right a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.main-wrapper{
    padding: 180px 0 100px 0;
    background-color: #81ecec;
    height: 500px;
    width: 100%;
    text-align: center;
}

.main-wrapper h1{
    font-size: 80px;
}


.contents-item{
    font-size:20px;
}

.body-wrapper{
    background-color: #dfe6e9;
    height: 200px;
    width: 100%;
    text-align: center;
}

footer{
    background-color: #2d3436;
    height: 65px;
    width:100%;

}

.footer-container{
    font-size:40px;
}
.footer-list{

}

